h1 {
    text-transform: uppercase
}

pre {
    background-color: rgb(177, 175, 175)
}

p {
    background-color: rgb(155, 155, 155)
}

h3 {
    background-color: gray
}

h2 {
    background-color:rgb(80, 79, 79)
}

address {
    background-color:white; 
    text-align: end
}