body{background-color: bisque;}
h1 {background-color: rgb(177, 128, 68); font-size: 20px; color: white;}
h2 {background-color: rgb(177, 128, 68); font-size: 15px; color: white;}
h3 {background-color: rgb(177, 128, 68); font-size: 10px; color: white;}
titulo {font-family: cursive;}
ol{font-family: cursive;}
cantidad {font-family: cursive;}